# Optional (default OAuth client id is baked in; override if you prefer)
VITE_GOOGLE_CLIENT_ID=1086160483736-3siaqhc081ac9j0onr3lqlabarehmvpl.apps.googleusercontent.com

# Required for Sheets API calls
VITE_GOOGLE_API_KEY=AIzaSyBHqueJWPOC2wyn9eJX5tpYuudf816wja8

# Optional (enables the Google Picker UI)
VITE_GOOGLE_APP_ID=1086160483736-3siaqhc081ac9j0onr3lqlabarehmvpl.apps.googleusercontent.com
